#text-detail-post {
    margin-top: 30px;
}

.card-header {
    text-align: center;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#footer {
  bottom: 0;
  margin-top: calc(30% + 60px);
}


#follow_btn {
    margin-top: 20px;
}

#posts_list {
    margin-bottom: -10px;
}

#btn_main_page {
    margin: 5px;
}

#up_block_post {
    margin-right: 20px;
}


.container_comment {
  width: min(50%, 900px);
  margin: 3rem 3rem;


}

.comment__container {
  display: none;
  position: relative;
}

.comment__container.opened {
  display: block;
}

.comment__container::before {
  content: "";
  background-color: rgb(170, 170, 170);
  position: absolute;
  min-height: 100%;
  width: 1px;
  left: -10px;
}


.comment__card {
  padding: 20px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  min-width: 100%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.comment__card h3,
.comment__card p {
  margin-bottom: 2rem;
}

.comment__card-footer {
  display: flex;
  font-size: 0.85rem;
  opacity: 0.6;
  gap: 30px;
  justify-content: flex-end;

}

.show-replies {
  cursor: pointer;
}

.comment__card h5 {
  text-align: right;
}

.flex_element {
  display: inline-block;

}

#date {
  float: right !important;
  font-size: 15px;
}


/*Image css*/

.like_counter {
  border: 0!important;
  border-radius: 0!important;
  background-color: white;
}

.likes {
  height: 25px;
  width: 25px;
}
