{% extends "base.html" %}
{% block title %}
    Об авторе проекта
{% endblock %}
{% block content %}
    <div class="container py-5">
        <h1>Gurbanov Aslan</h1>
        <h2>Backend developer/ Software Engineer in Test</h2>
        <br/>
        <p>
            <smal>For the past few years, I have been involved in the development
            of automated tests as a Software engineer in test. I am well versed
            in UI automation, API, which helps me to show good results in all directions.
            In view of experience, I often help colleagues in thinking through the architecture
            of autotests or their implementation. I independently lead projects with autotests
            from creating a repository and working out the architecture to containerization
            and integration into CI / CD. I managed to work in the field of information security and mobility
            aggregation.

            How I started working as a software engineer in test almost from
            the first day I studied backend development. Half a year after
            the start of training and passing several small courses in the direction
            of python developer, I signed up for a course from Yandex Praktikum in
            the direction of python developer, where I studied backend for a year and
            wrote several good pet projects. Then I started to hone my skills doing freelance
            development (I wrote web applications for online stores, barbershops, etc.).

            At the moment, I want to start developing product code already within the team
                and continue to improve my skills as a backend developer already within the company.</smal>
        </p>
    </div>
{% endblock %}
