{% extends "base.html" %}
{% block title %}
    Об авторе проекта
{% endblock %}
{% block content %}
    <div class="container py-5">
        <h1>Gurbanov Aslan</h1>
        <br/>
        <h4>Software Engineer in test</h4>
        <p>
            For the past few years, I have been involved in the development
            of automated tests as a Software engineer in test. I am well versed
            in UI automation, API, which helps me to show good results in all directions.
            In view of experience, I often help colleagues in thinking through the architecture
            of autotests or their implementation. I independently lead projects with autotests
            from creating a repository and working out the architecture to containerization
            and integration into CI / CD. I managed to work in the field of information security and mobility
            aggregation.

            How I started working as a software engineer in test almost from
            the first day I studied backend development. Half a year after
            the start of training and passing several small courses in the direction
            of python developer, I signed up for a course from Yandex Praktikum in
            the direction of python developer, where I studied backend for a year and
            wrote several good pet projects. Then I started to hone my skills doing freelance
            development (I wrote web applications for online stores, barbershops, etc.).

            At the moment, I want to start developing product code already within the team
            and continue to improve my skills as a backend developer already within the company.
        </p>
    </div>
    <div class="list-group align-content-center text-center">
        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Luxoft - Senior Software Engineer in Test</h5>
                <small>Apr 2022 - Nov 2022</small>
            </div>
            <p class="mb-1">Project Volkswagen Group:
                Microservices for updating software in the car.

                What did you do while working for the company: <br>
                   · Described test artifacts <br>
                   · Developed API autotests <br>
                   · Create UML diagrams <br>
                   · Actively contributed to the company's testing framework <br>
                   · Advised colleagues on automation issues on their projects. <br></p>
            <small>Skills:
                Robot Framework <br>
                    · Apache <br>
                    · unittest <br>
                    · JavaScript <br>
                    · docker-compose <br>
                    · PostgreSQL <br>
                    · pytest <br>
                    · Python <br>
                    · Selenium<br>
            </small>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Citymobil - Software Engineer in Test</h5>
                <small class="text-muted">Aug 2021 - Mar 2022</small>
            </div>
            <p class="mb-1">Projects:
                1. Fleet:<br>
                CRM system (Personal account) - personal section of the Partner of the driver in Citymobil.<br>

                2. Back office: <br>
                web applications for back office infrastructure. <br>

                What did you do while working for the company: <br>
                 · Described test artifacts for two projects in which he participated as QA Automation <br>
                 · Developed UI, API autotests on two projects <br>
                 · Conducted 2 product presentations <br>
                 · In a month, I organized api coverage with autotests, wrapped it in docker and organized integration into CI / CD <br>
                 · Developed a pool of ui/api autotests <br>
                 · Described test artifacts for all projects and integrated them into TestRail <br>
                 · Together with the product raised support on two projects in less than two weeks <br>
                 · Actively contributed to the company's testing framework <br>
                 · Added new practices to training and development within the QA team <br>
                 · Advised colleagues on automation issues on their projects <br>
                 · Participated in presentations at internal conferences <br></p>
            <small class="text-muted">Skills: <br>
                · allure <br>
                · python <br>
                · Docker <br>
                · Docker-compose <br>
                · Gitlab <br>
                · Gitlab CI <br>
                · MySQL <br>
                · Postman <br>
                · Chrome Developer Tools <br>
                · Kibana <br>
                · Grafana <br>
                · Sentry <br>
                · xdist <br>
                · pytest <br>
                · Postman API  <br>
                · Python (Programming Language)<br></small>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Perspective Monitoring - Software Engineer in Test</h5>
                <small class="text-muted">Jan 2020 - May 2021</small>
            </div>
            <p class="mb-1">Projects: <br>
                1. Tardis: <br>
                Web application for data analytics. <br>
                2. Ampire: <br>
                Web application for cyber exercises. <br>

                What did you do while working for the company: <br>
                 · Raised testing on 4 projects being the only QA Automation <br>
                 · Maintaining 3 projects with autotests <br>
                 · Developed a pool of ui/api autotests <br>
                 · Described test artifacts for all projects and integrated them into TestRail <br>
                 · Together with devops integrated autotests into zabbix (for regularly regression testing) <br>
                 · Carried out load testing and identified weaknesses in the products that were eliminated <br>
</p>
            <small class="text-muted">And some muted small print.</small>
        </a>
    </div>
{% endblock %}
