{% extends "base.html" %}
{% block title %}
Technologies
{% endblock %}
{% block content %}
<div class="container py-5">
<div class="row">
  <h2>Hard skills</h2>
  {% comment %}
    Base block
  {% endcomment %}
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        Django Rest Framework
      </li>
      <li class="list-group-item">
        Selenium
      </li>
      <li class="list-group-item">
        HTML/CSS/JS
      </li>
      <li class="list-group-item">
        PostgreSQL/MySQL
      </li>
      <li class="list-group-item">
        MongoDB/Redis
      </li>
      <li class="list-group-item">
        Gunicorn/Daphne
      </li>
      <li class="list-group-item">
        Kibana/Grafana/Centry
      </li>
      <li class="list-group-item">
        AWS/Digital Ocean
      </li>
      <li class="list-group-item">
        Selenium grid
      </li>
      <li class="list-group-item">
        Java script
      </li>
      <li class="list-group-item">
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <h3>Stack:</h3><br>
    <ul class="list-group">
      <li class="list-group-item active" aria-current="true">maintaining a repository with autotests</li>
      <li class="list-group-item">development of ui/api autotests</li>
      <li class="list-group-item"> development and support of an internal framework for testing</li>
      <li class="list-group-item">product presentations</li>
      <li class="list-group-item">сreating and Maintaining Test Artifacts</li>
      <li class="list-group-item">сonducted presentations at internal conferences</li>
      <li class="list-group-item">participation in product development</li>
      <li class="list-group-item">load testing</li>
      <li class="list-group-item">UX consultation</li>
    </ul>
  </article>
</div>
</div>
{% endblock %}
