{% extends "base.html" %}
{% block content %}
<div class="container py-5">
    <div class="row">
        <aside class="col-12 col-md-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                {{ post.pub_date|date:"d E Y" }}
                </li>
                {% if post.group %} 
                <li class="list-group-item">
                Группа: {{ post.group}}
                <a href="{% url 'posts:group_list' post.group.slug %}">
                </a>
                {% endif %}
                </li>
                <li class="list-group-item">
                Автор: {{ post.author.get_full_name }}
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                Всего постов автора:  {{ count_posts }}
                </li>
            </ul>
        </aside>
        <article id="text-detail-post" class="col-12 col-md-9">
            <p>
            {{ post.text }}
            </p>
        </article>
    </div>
</div>

{% include 'posts/includes/paginator.html' %}
{% endblock %}