{% extends "base.html" %}
{% load user_filters %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <aside class="col-12 col-md-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                Дата публикации: {{ post.pub_date|date:"d E Y" }}
                </li>
                {% if post.group %}
                <li class="list-group-item">
                Группа: <a type="button" id="btn_main_page" class="btn btn-outline-primary" href="{% url 'posts:group_list' post.group.slug %}">{{ post.group }}</a>
                {% endif %}
                </li>
                <li class="list-group-item">
                    Автор: <a class="btn btn-outline-primary" href="{% url 'posts:profile' post.author %}">{{ post.author.get_full_name }}</a>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                Всего постов автора:  {{ count_posts }}
                </li>
                <li class="list-group-item">
                </a>
                </li>
            </ul>
        </aside>
        <article id="text-detail-post" class="col-12 col-md-9">
        {% include 'posts/includes/post_with_photo.html' %}
        </article>
    </div>
</div>

{% if user.is_authenticated %}
  <div class="card my-4">
    <h5 class="card-header">Добавить комментарий:</h5>
    <div class="card-body">
        {% csrf_token %}
          <div class="form-floating">
        <div class="form-group mb-2">
          {{ form.text|addclass:"form-control" }}
</div>
        </div>
        <input id="chat-message-submit" class="btn btn-primary" type="button" value="Send">
              {{ post_id|json_script:"post_id" }}
    </div>
  </div>
{% endif %}

  <div class="media mb-4" id="comments-list">
  {% for comment in page_obj %}
    <div class="popover-header">
    <hr>
      <h5 class="mt-0">
          {{ comment.author.username }}
      </h5>
        <p id="chat-log">{{ comment.text }}<br>
         {{ created }}
        </p>
      </div>
    </div>
    {% endfor %}
          <script>
          console.log({{ post.id }})
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/posts/'
            + '{{ post.id }}'
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data.message)
            const commentList = document.querySelector("#comments-list");
            let newDiv = document.createElement("div");
            commentList.insertAdjacentElement('afterend', newDiv);
            newDiv.classList.add("popover-header");
            newDiv.innerHTML += "<hr>";

            var author = "<h5 class='mt-0'>" + data.username + "</h5>";
            newDiv.innerHTML += author;

            var new_comment = "<p id='chat-log'>" + data.message + "</p>" +
                 data.created;
            newDiv.innerHTML += new_comment;
            my_div = document.getElementById("org_div1");
            document.body.insertBefore(newDiv, my_div);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly', e);
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            console.log({{ post_id }})
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            if (messageInputDom.value !== ""){
                chatSocket.send(JSON.stringify({
                'message': message,
                'username': "{{ request.user.username }}",
                'room': {{ post.id }}
            }));
            messageInputDom.value = '';
            }

        };
    </script>

{% include 'posts/includes/paginator.html' %}
{% endblock %}
