{% extends 'base.html' %}
{% block title %}Password Recovery{% endblock %}
{% block content %}
    {% with card_header='Select email address' %}
    {% include 'users/includes/header_card.html' %}
    {% endwith %}
<form method="post">
{% csrf_token %}
<div class="form-group row my-3 p-3">
  <label for="id_email">
    Email
  <span class="required text-danger">*</span>
  </label> 
  <input type="email" name="email" maxlength="254" class="form-control" required id="id_email">
</div>
<div class="col-md-6 offset-md-5">
<button type="submit" class="btn btn-primary">
  Recovery
  </button>
</div>
</form>
{% include 'users/includes/body_card.html' %}
{% endblock %}
